version: "3"

services:
  caddy:
    image: lucaslorentz/caddy-docker-proxy:ci-alpine
    container_name: caddy
    ports:
      - 80:80
      - 443:443
    environment:
      - CADDY_INGRESS_NETWORKS=caddy
    networks:
      - caddy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - caddy_data:/data
      - /etc/ssl/certs/caddy:/etc/ssl/certs/caddy:ro
      - /etc/ssl/private/caddy:/etc/ssl/private/caddy:ro
    restart: unless-stopped

networks:
  caddy:
    external: true

volumes:
  caddy_data: {}